body {
  margin: 20px;
}
h1 {
  margin-bottom: 10px;
}
.field {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
select,
textarea {
  margin: 2px;
}
.info {
  padding: 10px;
  margin: 15px 0;
  border: 1px solid;
}
.buttons {
  margin: 20px 0;
}
.parsley-error {
  border: 1px solid red;
}
